{% if app.user %}
    {% if app.user.id == review.author.id or "ROLE_ADMIN" in app.user.roles %}
        <div class="row col-auto" id="author_buttons">
            <div class="col-auto" id="editbtn">
                <form action="{{ path('review_edit', {'id': review.id}) }}">
                    <button type="submit" class="btn btn-outline-primary btn-sm" id="edit">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </form>
            </div>
            <div class="col-auto">
                <button data-review="{{ review.id }}" onclick="reviewDeleteFn({{ review.id }})" class="btn btn-outline-danger btn-sm deleteReview">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    {% endif %}
{% endif %}