{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col m-4 bg-light text-center">
                <h2>New reviews</h2>
            </div>
            <div class="col m-4 bg-light text-center">
                <h2>Top reviews</h2>
            </div>
        </div>
        <div class="row">
            <div class="col m-4 bg-light text-center">
                <h2>Tags cloud</h2>
            </div>
        </div>
    </div>
{% endblock %}
