.avatar {
    /* Rounded border */
    border-radius: 50%;
    height: 128px;
    width: 128px;
}

.avatar__image {
    /* Rounded border */
    border-radius: 50%;

    /* Take full size */
    height: 100%;
    width: 100%;
}
